.employee-ui-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  row-gap: 100px;
  padding: 20px;
  margin-top: 2%; /* Dodajemy odstęp na górze */
  margin-bottom:2%; /* Dodajemy odstęp na dole */
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
  }
}
