.employee-ui-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  row-gap: 100px;
  padding: 20px;
  padding-top: 10%; /* Upewnij się, że pasuje do wysokości navbar */
  padding-bottom: 60px; /* Upewnij się, że pasuje do wysokości footer */
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30%;
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
    padding-top: 60%;
  }
}
