
  .custom-navbar {
    background-color: #F2F0E4;
    height: 20px !important; /* Możesz dostosować tę wartość do preferowanej wysokości */
  }
  
  .navbar-brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  
  .navbar-nav .nav-link {
    margin-right: 15px;
  }
  
  .logo {
    height: 40px; /* Dopasuj wysokość logo, aby pasowała do nowej wysokości navbaru */
  }
  
  